h1{
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    place-items: center;
    min-height: 20vh;
    margin: 0;
    color: black;
    font-synthesis: style;
}

p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: brown;
    font-synthesis: style;
}